langchain_openai==0.3.6
langgraph==0.2.74
langchain==0.3.19
langgraph-sdk==0.1.51
fastapi[standard]==0.115.8
openai==1.63.2
autogen-agentchat==0.4.7
autogen-core==0.4.7
autogen-ext==0.4.7
azure-core==1.32.0
#azure-identity==1.19.0
#azure-storage-blob==12.24.0
tiktoken==0.9.0
requests==2.32.3
starlette==0.45.3
uvicorn==0.34.0
python-dotenv==1.0.1
#httpx==0.27.0
llama-index==0.12.19
llama-index-llms-azure-openai==0.3.0
llama-index-llms-openai==0.3.20
llama-index-core==0.12.19
